<div id="ie-no-more-container">
  <h2>Please Read This!</h2>
  <p>
    You may want to upgrade your browser.
  </p>
  <p>
    You're using Internet Explorer 6 to browse this site right now. This site will work better for you if you upgrade to Internet Explorer 8 or switch to another browser.
  </p>
  <ul>
    <li><a href="http://www.apple.com/safari">Switch to Safari</a></li>
    <li><a href="http://www.mozilla.com/en-US/firefox/ie.html">Switch to Firefox</a></li>
    <li><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Upgrade to Internet Explorer 8</a></li>
  </ul>
  <div id="ie-no-more-close-button">
    <a href="#">Close</a>
  </div>
</div>